* {
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: rgb(235, 192, 52) !important;
}
#line {
  border: none;
  display: block;
  background-color: rgb(235, 192, 52);
  width: 100%;
  border-width: 1px;
  margin-left: 12px;
  height: 100px;
  margin-bottom: 6px;
}

hr {
  border-top: 7px dotted black;
  color: rgb(226, 247, 224);
  background-color: rgb(226, 247, 224);
  width: 85%;
}
